.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 0;
}

.App svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.ui-container {

}

.environment-container {

}

.grass-component {

}

.ground-component {

}

.shape-component {

}

.player-container {

}